.application {
  position: relative;
  z-index: 10;
  padding: 0 20px;
  padding-top: 462px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-top: 200px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 220px;
  }
}

.application__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: $text-white;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;

    font-size: 50px;
  }
}

.application__button {
  margin-top: 26px;
  color: $text-white;
  border: 3px solid $white;

  &:hover,
  &:focus {
    color: $text-primary;
    background-color: $white;
  }

  &:active {
    color: rgba($text-primary, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.application__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.application__item {
  padding: 33px 17px 17px;

  @media (min-width: $tablet-width) {
    padding: 44px 17px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 17px 50px;
  }
}

.application__text {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $text-white;

  @media (min-width: $tablet-width) {
    font-size: $font-size-md;
  }
}
