.button {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 16px 0;
  font-weight: 700;
  font-size: $font-size-md;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}
