.download {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-bottom: 25px;
  }
}

.download__banner {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: $font-size-sm;
  line-height: $line-height-md;
  text-align: center;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    width: 450px;
    padding-top: 45px;
    padding-bottom: 70px;
    font-size: $font-size-md;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 70px;
  }
}

.download__photo {
  padding: 20px 20px 40px;
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 55px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px;
  }
}

.download__image {
  display: block;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
  }
}

.download__tools {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 50%;
  }
}

.download__list {
  @include list-reset;
  width: 100%;

  @media (min-width: $mobile-width) and (max-width: $tablet-width - 1px) {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $grey;

    &::before {
      content: "";
      position: absolute;
      top: 125px;
      right: 20px;
      width: 240px;
      height: 2px;
      background-color: $blue;
    }

    &::after {
      content: "";
      position: absolute;
      top: 125px;
      right: 55px;
      width: 10px;
      height: 10px;
      margin-top: -6px;
      background-color: $grey-light;
      border: 2px solid $pink;
      border-radius: 50%;
      cursor: pointer;
    }

    &:active::after {
      background: $pink;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: -15px;
  }
}

.download__item {
  position: relative;
  height: 70px;
  margin: 30px 10px 60px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 30px;
    border-bottom: 1px solid $grey;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      width: 202px;
      height: 2px;
      background-color: $blue;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 60px;
      width: 10px;
      height: 10px;
      margin-top: -6px;
      background-color: $grey-light;
      border: 2px solid $pink;
      border-radius: 50%;
      cursor: pointer;
    }

    &--fill::after {
      right: 180px;
    }

    &--contrast::after {
      right: 110px;
    }

    &:active::after {
      background: $pink;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;

    &::before {
      right: 35px;
      width: 288px;
    }

    &::after {
      right: 235px;
    }

    &--fill::after {
      right: 60px;
    }

    &--contrast::after {
      right: 150px;
    }
  }
}

.download__tool {
  position: relative;
  top: 5px;
  left: -5px;
  width: 48px;
  height: 48px;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &--crop {
    background: url("../img/icon-editor-crop.svg") no-repeat 50% 50%;
  }

  &--fill {
    background: url("../img/icon-editor-fill.svg") no-repeat 50% 50%;
  }

  &--contrast {
    background: url("../img/icon-editor-contrast.svg") no-repeat 50% 50%;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    top: 15px;
    left: 0;
    width: 40px;
    height: 40px;
  }
}

.download__button-post {
  margin-top: 38px;
  color: $text-primary;
  border: 3px solid $pink;

  &:hover,
  &:focus {
    color: $text-white;
    background-color: $pink;
  }

  &:active {
    color: rgba($text-white, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    margin: 0 auto;
    margin-right: 13px;
    margin-top: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    margin: 0;
    margin-top: 145px;
  }
}


.download__button-cancel {
  margin-top: 10px;
  color: rgba($text-dark, 0.1);
  border: 3px solid rgba($blue, 0.1);

  &:hover,
  &:focus {
    color: rgba($text-dark, 0.3);
    border: 3px solid rgba($blue, 0.3);
  }

  &:active {
    color: rgba($text-white, 0.3);
    background-color: rgba($blue, 0.3);
    border: 3px solid rgba($blue, 0);
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    margin: 0 auto;
    margin-right: 13px;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    margin: 0;
    margin-top: 145px;
  }
}
