.page-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 285px;
  margin: 0 auto;
  padding-top: 40px;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    width: 620px;
    min-height: 127px;
    padding-top: 37px;

    &--hidden {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    min-height: 200px;
    padding-top: 75px;
  }
}

.page-footer__social {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 70px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 230px;
  }
}

.page-footer__copyright {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    padding-top: 0;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: auto;
}

.page-footer__logo-icon {
  transition: 0.3s ease-in-out;
  fill: $blue;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $blue;
    opacity: 0.3;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $desktop-width) {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
