.page-header {
  position: relative;
  width: auto;
  min-height: 70px;
  background-color: rgba($black, 0.3);

  @media (min-width: $tablet-width) {
    width: 660px;
    min-height: 110px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}
