.upload {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-bottom: 25px;
  }
}

.upload__banner {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: $font-size-sm;
  line-height: $line-height-md;
  text-align: center;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    width: 450px;
    padding-top: 44px;
    padding-bottom: 70px;
    font-size: $font-size-md;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 70px;
  }
}

.upload__photo {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px;
  }
}

.upload__image {
  display: block;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
  }
}

.upload__filter {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 50%;
  }
}

.upload__list {
  @include list-reset;
  width: 100%;

  @media (min-width: $mobile-width) and (max-width: $tablet-width - 1px) {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $grey;

    &::before {
      content: "";
      position: absolute;
      top: 125px;
      right: 40px;
      width: 240px;
      height: 2px;
      background-color: $blue;
    }

    &::after {
      content: "";
      position: absolute;
      top: 125px;
      right: 75px;
      width: 10px;
      height: 10px;
      margin-top: -6px;
      background-color: $grey-light;
      border: 2px solid $pink;
      border-radius: 50%;
      cursor: pointer;
    }

    &:active::after {
      background: $pink;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: -15px;
  }
}

.upload__item {
  position: relative;
  height: 70px;
  margin: 30px 10px 60px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 30px;
    border-bottom: 1px solid $grey;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      width: 202px;
      height: 2px;
      background-color: $blue;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 60px;
      width: 10px;
      height: 10px;
      margin-top: -6px;
      background-color: $grey-light;
      border: 2px solid $pink;
      border-radius: 50%;
      cursor: pointer;
    }

    &--fill::after {
      right: 180px;
    }

    &--contrast::after {
      right: 110px;
    }

    &:active::after {
      background: $pink;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;

    &::before {
      right: 35px;
      width: 288px;
    }

    &::after {
      right: 235px;
    }

    &--fill::after {
      right: 60px;
    }

    &--contrast::after {
      right: 150px;
    }
  }
}

.upload__filter-button {
  position: relative;
  top: 5px;
  left: -5px;
  width: 60px;
  height: 60px;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    top: 15px;
    left: 0;
    width: 40px;
    height: 40px;
  }
}

.upload__filter-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $pink;

  &--fill,
  &--contrast {
    fill: rgba($blue, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 65%;

    &--fill {
      top: 25px;
      fill: $pink;
    }

    &--contrast {
      width: 45%;
      fill: $pink;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;

    &--fill {
      top: 50%;
      fill: $pink;
    }
  }
}

.upload__filter-button:hover .upload__filter-icon {
  fill: rgba($blue, 0.5);
}

.upload__button {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 17px 0;
  font-weight: 700;
  font-size: $font-size-md;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &--post {
    margin-top: 38px;

    color: $pink;

    border: 3px solid $pink;

    &:hover,
    &:focus {
      color: $white;

      background-color: $pink;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--cancel {
    margin-top: 10px;

    color: rgba($blue, 0.1);

    border: 3px solid rgba($blue, 0.1);

    &:hover,
    &:focus {
      color: rgba($blue, 0.3);

      border: 3px solid rgba($blue, 0.3);
    }

    &:active {
      color: rgba($white, 0.3);

      background-color: rgba($blue, 0.3);
      border: 3px solid rgba($blue, 0);
    }
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    margin: 0 auto;
    margin-right: 13px;

    &--post {
      margin-top: 65px;
    }

    &--cancel {
      margin-top: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    margin: 0;
    margin-top: 145px;
  }
}
